<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6">
        
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% posts.image.forEach((img,i)=>{ %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%> ">
                  <img src="<%=img.url%>" class="d-block w-100" alt="">
                </div>
              <%})%>
            
            </div>
            <% if(posts.image.length > 1) {%>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          <%}%>
          </div>
          
            
            <div class="card-body">
              <h5 class="card-title"><%= posts.title %></h5>
              <p class="card-text"><%= posts.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= posts.location %></li>
              <li class="list-group-item">Submitted by <%= posts.author.username %></li>
            </ul>
            
            <% if(currentUser && posts.author.equals(currentUser._id) || currentUser && currentUser.isAdmin ) { %>
            <div class="card-body">
                <a class="btn btn-outline-info btn-lg" href="/posts/<%= posts._id%>/edit">Edit</a>
                <form class="d-inline" action="/posts/<%=posts._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-info btn-lg">Delete</button>
                </form>
            </div>
          <%}%>
          
          
    </div>
    <div class="col-6">
      <% if(currentUser){ %>
      <h2>Leave a Comment</h2>
        <form action="/posts/<%=posts._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
          <div class="mb-3">
            <!-- <label class="form-label" for="rating">Rating</label>
            <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating"> -->

          </div>
          <div class="mb-3">
            
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="4" required></textarea>
            <div class="valid-feedback">
              :)
            </div>
          </div>
          <button class="btn btn-outline-primary">Submit</button>
        </form>
      <%}%>
        <% for(let review of posts.reviews) { %>
          <div class="card mb-3">
            <div class="card-body">

              <!-- <p><%= review.rating %></p> -->
              <h6 class="card-subtitle mb-2 text-muted">By <%=review.author.username %></h6>
              <p class="card-text"><%= review.body %></p>
              <% if(currentUser && review.author.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
          
              <form action="/posts/<%= posts._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                <button class="btn btn-outline-info">Delete</button>
              </form>
              <% } %>
            </div>
          </div>

        <%}%>
    </div>
</div>